astroid==2.4.2
async-generator==1.10
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.10.0
black==22.1.0
browser-cookie3==0.13.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
configparser==5.2.0
coverage==5.5
crayons==0.4.0
cryptography==36.0.1
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.9
h11==0.13.0
idna==3.3
imageio==2.14.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.10.1
isort==5.5.4
jeepney==0.7.1
keyring==23.5.0
lazy-object-proxy==1.4.3
lz4==3.1.10
mccabe==0.6.1
moviepy==1.0.3
mutagen==1.45.1
mypy-extensions==0.4.3
numpy==1.22.1
opencv-python==4.5.5.62
outcome==1.1.0
packaging==21.3
pandas==1.4.0
pathspec==0.9.0
pbkdf2==1.3
Pillow==9.0.0
platformdirs==2.4.1
proglog==0.1.9
pyaes==1.6.1
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.13.0
pylint==2.6.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytube==11.0.2
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.1
SecretStorage==3.3.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==4.0.1
urllib3==1.26.8
webdriver-manager==3.5.2
websockets==10.1
windows-curses==2.3.0
wrapt==1.12.1
wsproto==1.0.0
yt-dlp==2022.1.21
zipp==3.7.0